@import "src/variables.scss";

.tips {
  background: white;
  border-left: 2px solid #a5a2a29e;
  border-bottom: 2px solid #a5a2a29e;
  box-shadow: -5px 6px #45454533;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  right: 0;
  top: $navbar-height;
  z-index: 2;

  @media all and (max-width: 400px) {
    width: 100%;
  }

  header {
    align-items: start;
    display: flex;
    justify-content: space-between;

    h2 {
      margin-top: 10px;
    }

    button {
      border: none;
      color: #777777;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
    }
  }

  p {
    font-size: 20px;
    margin: 0 0 30px 0;
  }

  section {
    margin-bottom: 25px;

    span {
      display: block;

      // search query
      &:first-child {
        border-radius: 1px;
        border: 2px solid #bbbbbb;
        font-style: italic;
        margin-bottom: 5px;
        padding: 4px 8px;

        .pipe {
          border: none;
          display: inline-block;
          font-style: normal;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
