@import "src/variables.scss";

.latestTweets {
  h1 {
    margin-bottom: 10px;
  }

  // hide reactive sorting
  select {
    display: none;
  }
}

.buttonLink {
  display: flex;
  text-decoration: none;
}

.latestTweet {
  font-size: 14px;
  padding: 7px;
  margin: 5px 0;

  a {
    display: initial;

    span {
      text-decoration: underline;
    }
  }
}
