.checkbox {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  margin-right: 10px;
  padding: 5px 0;

  > input {
    cursor: pointer;
    height: 20px;
    margin-right: 5px;
    width: 20px;
  }
}
