@import "src/variables.scss";

.badHires {
  @media all and (max-width: $mobile) {
    p {
      line-height: 24px;
    }
  }

  .list > div {
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;

    // title
    > span:first-child {
      font-size: 20px;
    }

    // title
    > span:last-child {
      font-size: 16px;
    }
  }

  a {
    color: $red;
    text-decoration: none;
  }
}
