.mobile {
  @media all and (min-width: 0px) and (max-width: 400px) {
    display: initial;
  }

  @media all and (min-width: 401px) {
    display: none;
  }
}

.desktop {
  @media all and (min-width: 0px) and (max-width: 400px) {
    display: none;
  }

  @media all and (min-width: 401px) {
    display: initial;
  }
}
