@import "src/variables.scss";
@import "src/pages/insights/insights.style.scss";

.container {
  margin-top: 15px;
}

.title {
  align-items: center;
  display: flex;
  font-family: $fontForHeaders;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: -15px;
  justify-content: center;
  text-align: center;

  .mobile {
    display: none;
  }

  @media all and (max-width: 700px) {
    .desktop {
      display: none;
    }

    .mobile {
      display: initial;
    }
  }

  select {
    border: 2px solid $black;
    font-size: 18px;
    margin-left: 20px;
    padding: 10px;
  }
}

.slider {
  margin: 0 auto;
  width: 90%;
}
