@import "src/variables.scss";

.title {
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  text-align: center;

  .mobile {
    display: none;
  }

  @media all and (max-width: 700px) {
    margin-bottom: 20px;
    .desktop {
      display: none;
    }

    .mobile {
      display: initial;
    }
  }

  select {
    border: 2px solid $black;
    font-family: $font;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
  }
}
