@import "src/variables.scss";

.title {
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  text-align: center;

  @media all and (max-width: 700px) {
    margin-bottom: 20px;

    > span > span {
      display: none;
    }
  }

  select {
    font-size: 18px;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid $black;
  }
}
