@import "src/variables.scss";
// @import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;400;700');

.insights {
  font-family: monospace;
  margin-top: 40px;
  padding: 30px 10px;

  mark {
    font-size: 22px;
    font-weight: bold;
  }
}
