@import "src/variables.scss";

.badHires {
  @media all and (max-width: $mobile) {
    p {
      line-height: 24px;
    }
  }

  .list > div {
    margin-bottom: 10px;
  }

  a {
    color: $red;
    text-decoration: none;
  }
}
