@import "src/variables.scss";

.page {
  h1 {
    text-align: center;
  }

  .lists {
    p {
      margin: 5px 0;

      @media all and (max-width: 500px) {
        display: flex;
        flex-flow: column;
      }

      a {
        color: $red;
        text-decoration: none;
      }
    }
  }
}
