@import "src/variables.scss";

.page {
  h1, h2 {
    text-align: center;
  }

  .lists {
    h2 {
      text-align: left;
    }

    p {
      margin: 5px 0;

      @media all and (max-width: 500px) {
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;
      }

      a {
        color: $red;
        text-decoration: none;
      }
    }
  }

  hr {
    margin: 40px 0;
  }
}
