@import "src/variables.scss";

.page {
  .lists {
    margin: 0 auto;
    width: 80%;

    @media all and (max-width: 700px) {
      margin: initial;
      width: initial;
    }

    h2 {
      margin-top: 50px;
      text-align: left;

      &:first-child {
        margin-top: 0;
      }
    }

    .item {
      .name {
        font-size: 1rem;
        margin-bottom: 5px;

        @media all and (max-width: 700px) {
          margin-bottom: 0;
        }
      }

      p {
        margin: 0;
        color: black;

        @media all and (max-width: 700px) {
          display: flex;
          flex-flow: column;
          margin: 15px 0;
        }
      }

      a {
        color: $red;
        text-decoration: none;
      }
    }
  }

  hr {
    margin: 40px 0;
  }
}
