@import "src/variables.scss";

.tweetStats {
  margin: 0 auto;
  width: 80%;

  @media all and (max-width: 700px) {
    margin: initial;
    width: initial;
  }

  h2 {
    margin: 40px 0;
    text-align: center;
  }

  // stat + description
  div {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    text-align: center;

    // stat
    a {
      color: black;
      text-decoration: none;
      margin-right: 10px;
      min-width: 290px;

      span {
        display: block;
      }
    }

    @media all and (max-width: 700px) {
      border: 1px solid #c1c0c0;
      flex-flow: column;
    }
  }

  p {
    line-height: 22px;
    text-align: left;

    @media all and (max-width: 700px) {
      text-align: center;
    }
  }
}

.total {
  background: #e1f4ff;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  min-width: 210px;
  padding: 10px;
  text-align: center;
}
