@import 'src/variables.scss';

// container
.tweet {
  margin-bottom: 10px;
  display: flex;

  @media all and (max-width: 900px) {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.text {
  padding: 1px; // for safari flexbox bullshit
}

.plain {
  @media all and (max-width: 900px) {
    background: white;
    border-radius: 3px;
    border: 1px solid black;
    line-height: 20px;
    padding: 10px;
    word-break: break-word;
  }
}

.embedded {
  width: 100%;
}
