@mixin MobileView() {
  flex-wrap: wrap;
  margin-bottom: 20px;

  .index {
    display: none;
  }

  .mobileIndex {
    display: inherit;
  }

  .metadata {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;

    .device {
      display: none;
    }
  }

  .text {
    background: white;
    border: 1px solid;
    line-height: 20px;
    padding: 10px;
  }
}

.tweet {
  align-items: flex-start;
  display: flex;
  margin-bottom: 10px;

  .index {
    margin-right: 5px;
    min-width: 30px;
  }

  .metadata {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin-bottom: 5px;
    min-width: 230px;

    .mobileIndex {
      display: none;
      margin-right: 2px;
    }

    > span {
      margin-right: 10px;
    }

    .stats span {
      align-items: center;
      display: inline-flex;
      margin-right: 10px;
      padding-top: 2px;

      svg {
        height: 20px;
        width: 20px;
        margin-right: 4px;
      }
    }
  }

  @media all and (max-width: 900px) {
    @include MobileView;
  }

  &.mobileView {
    @include MobileView;
  }
}

.pointer {
  cursor: pointer;
}
