@import "src/variables.scss";

.search {
  margin-top: $navbar-height + 10px;

  .searchbox {
    margin-bottom: 5px;

    input {
      font-size: 20px;
      height: 60px;
      padding: 20px 20px 20px 36px;
    }

    svg {
      height: 18px;
    }
  }

  .toggles {
    align-items: baseline;
    display: flex;

    button {
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      margin-right: 10px;
      padding: 10px;
    }
  }
}

.list {
  // results + sort line
  > div:first-child {
    align-items: baseline;
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
    padding: 5px 10px 5px 0;

    p {
      margin: 0 15px 0 5px;

      span {
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: $red;
      }
    }

    select[name="sort-options"] {
      border: 2px solid black;
    }
  }
}
