@import "src/variables.scss";

.page {
  margin-top: $navbar-height + 10px;

  .searchbox {
    margin-bottom: 5px;

    input {
      font-size: 20px;
      height: 60px;
      padding: 20px 20px 20px 36px;
    }

    svg {
      height: 18px;
    }
  }

  .toggles {
    align-items: baseline;
    display: flex;
    margin: 10px 0;

    button {
      margin-right: 10px;

      @media all and (max-width: 500px) {
        &.hideOnMobile {
          display: none;
        }
      }
    }
  }
}

.list {
  // results + sort line
  > div:first-child {
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding: 5px 10px 5px 0;
    flex-wrap: wrap-reverse;

    p {
      margin: 0 15px 0 5px;

      @media all and (max-width: 350px) {
        margin-bottom: 10px;
      }

      // just the number
      .results {
        font-size: 22px;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: $red;
      }
    }

    select[name="sort-options"] {
      border: 2px solid black;
    }
  }
}

.endOfResult {
  height: 10px;
}
