@import "src/variables.scss";

.search {
  margin-top: $navbar-height + 10px;

  .searchbox {
    margin-bottom: 5px;

    input {
      font-size: 20px;
      height: 60px;
      padding: 20px 20px 20px 36px;
    }

    svg {
      height: 18px;
    }
  }

  .toggles {
    align-items: baseline;
    display: flex;

    button {
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      margin-right: 10px;
      padding: 10px;
    }
  }
}

.list {
  // results + sort line
  > div:first-child {
    display: flex;
    justify-content: space-between;

    select[name="sort-options"] {
      border: 3px solid black;
    }
  }
}
