@import "src/variables.scss";

.list {
  header {
    align-items: baseline;
    display: flex;

    h1 {
      align-items: center;
      display: flex;
      margin-left: 10px;

      button {
        margin-left: 10px;
      }
    }
  }

  blockquote {
    border: 1px solid black;
    font-style: italic;
    margin: 0 0 20px 0;
    padding: 10px;
  }

  p {
    margin: 0 0 10px 0;

    > a {
      color: $red;
      text-decoration: none;
    }
  }
}
