@import "src/variables.scss";

.paragraph {
  font-size: 1.2rem;
  margin: 50px 20%;
  text-align: left;

  > a {
    color: $red;
  }

  &.quote {
    border-left: 5px solid black;
    color: #757575;
    padding-left: 25px;

    > a {
      color: #757575;
      text-decoration: none;
    }

    .quotationMark {
      padding: 0 5px;
    }
  }

  &.conclusion {
    border-radius: 2px;
    border: 5px solid $red;
    padding: 25px;
  }

  @media all and (max-width: 1000px) {
    margin: 50px 15%;
  }

  @media all and (max-width: 700px) {
    margin: 50px 5%;
  }

  @media all and (max-width: 500px) {
    margin: 50px 2%;
  }
}
