@import "src/variables.scss";

.badHires {
  display: flex;
  flex-flow: column; // row
  text-align: center;

  @media all and (max-width: 1000px) {
    flex-flow: column;
  }
}

.tldr {
  max-width: 800px;
  text-align: left;
  a {
    color: $red;
  }
}

.person {
  display: flex;
  flex-flow: column;
  margin: 0 24px;
  width: 100%;

  @media all and (max-width: 1000px) {
    margin: 0;
  }

  > h2 {
    font-size: 30px;
    margin: 30px 0;

    span {
      font-weight: normal;
    }
  }
}

.centeredTweet {
  display: flex;
  justify-content: center;
}

.later {
  font-size: 20px;
  font-style: italic;
  margin: 24px;
}

.image {
  margin-bottom: 24px;

  img {
    box-shadow: 3px 3px 10px 0px black;
    margin-bottom: 15px;
    max-width: 300px;
  }
}
