@import "src/variables.scss";

.badHires {
  padding: 24px;
  display: flex;
  flex-flow: row;
  text-align: center;

  @media all and (max-width: 1000px) {
    flex-flow: column;
  }

  .person {
    display: flex;
    flex-flow: column;
    margin: 0 24px;
    width: 100%;

    @media all and (max-width: 1000px) {
      margin: 0;
    }

    h2 > span {
      font-weight: normal;
    }
  }

  .centeredTweet {
    display: flex;
    justify-content: center;
  }
}

.later {
  font-size: 20px;
  font-style: italic;
  margin: 24px;
}
